.program__filters{
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
  flex-direction: column;
}

.program__filter{
  flex: 0 1 100%;
}



@media (min-width: 490px) {
  .program__filters{
    flex-direction: row;
  }
  .program__filter{
  flex: 0 1 50%;

}
}

.program-cards__list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(1, 1fr);
  align-items: flex-start;
}

@media screen and (min-width: 480px) {
  .program-cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 720px) {
  .program-cards__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.program-card {
  padding: 32px 24px;
  border: solid 1px var(--c-neutral-6);
  text-align: center;
  box-shadow: var(--lvl-1);
  border-radius: var(--br-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px rgba(0,0,0,0.15);
}

.program-card__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.program-card__meta {
  font-size: var(--f2);
  margin-bottom: var(--s2);
}

.program-card__title {
  font-size: var(--f4);
  margin-bottom: var(--s3);
}

.program-card__chips {
  display: flex;
  gap: var(--s2);
  justify-content: center;
  align-items: flex-start;
}

.program-card__chip {
  padding: 8px 8px;
  background: var(--c-neutral-4);
  border-radius: 8px;
  border: solid 1px var(--c-neutral-);
  display: inline-block;
  margin-bottom: var(--s5);
  font-size: var(--f1);
  color: var(--c-primary);
  border: solid 1px var(--c-neutral-5);
  align-items: center;
  vertical-align: center;
}

.program-card__footer {
  display: grid;
  gap: 16px;
  align-items: center;
}

.program-card__button-group {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  align-items: center;
}

.program-card__button {
  padding: 16px 24px;
  background: var(--c-primary);
  color: white;
  border-radius: 1000vw;
  font-size: var(--f2);
  border: solid 2px var(--c-primary);
  cursor: pointer;
  transition: ease all 0.3s;
  border: solid 2px var(--c-primary);
  font-weight: 500;
  white-space: nowrap;
}

.program-card__button:hover {
  background:var(--c-neutral-1);
  color: var(--c-primary);
  border: solid 2px var(--c-primary);
}

.program-card__button--secondary {
  padding: 16px 24px;
  border: solid 2px var(--c-primary);
  color: var(--c-primary);
  border-radius: 1000vw;
  display: inline-block;
  font-size: var(--f2);
  cursor: pointer;
  font-weight:500;
  transition:ease all 0.3s;

}

.program-card__button--secondary:hover {
  background: var(--c-primary);
  color: var(--c-neutral-1);
}

.program-card__drawer {
  display: none;
}

.program-card__drawer.expanded {
  display: block;
}

.program-card__drawer__flex {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.button-wrapper {
  padding: 32px 0;
  text-align: center;
}

.load-more-button {
  display: inline-block;
  text-align: center;
  padding: 16px 32px;
  border-radius: 1000vw;
  background: var(--c-neutral-4);
  cursor: pointer;
  transition: ease all 0.3s;
  font-weight: 500;
}

.load-more-button:hover{
  background: var(--c-neutral-6);
}

.chips {
  justify-content: center;
}

.chip {
  font-size: var(--f2) !important;
  padding: 12px 16px !important;
  border-radius: 100vw !important;
  height: auto !important;
  background-color: var(--c-neutral-4) !important;
  color: var(--c-neutral-6) !important;
}

.program-finder__headline {
  text-align: center;
  font-size: var(--f6);
}

@media (min-width:480px){
  .program-card__button-group {
    grid-template-columns: repeat(2,1fr);
  }
}
