.faq-section {
  display: grid;
  gap: 32px;
  flex-wrap: wrap;
}
@media (min-width: 480px) {
  .faq-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .faq-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

.faq-headline {
  font-size: var(--f5);
  text-align: center;
  margin-bottom: 48px;
}

.faq-card {
  height: 30rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
}

.faq-card.flipped > *:first-child {
  transform: rotateY(180deg);
}

.faq-card.flipped > *:last-child {
  transform: rotateY(0deg);
}

.faq-card-inner {
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  background: white;
}

.faq-card-content {
  position: relative;
  height: auto;
  padding: 32px;
  font-size: var(--f4);
  /*overflow-wrap: anywhere;*/
}

.faq-card-content p {
  height: 200px;
  overflow: hidden;
}

.faq-card-footer {
  padding: 48px 48px 48px 48px;
  border-top: solid thin rgba(0, 0, 0, 0);
  position: relative;
  margin-top: auto;
  text-align: center;
}

.faq-card-button {
  padding: 0.75rem 1.25rem;
  color: white;
  border-radius: 1.25rem;
  text-align: center;
  border: 0;
}

.faq-card .faq-card-inner {
  position: absolute;
  border-radius: var(--br);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 0.5s;
  border: solid 1px;
}

.faq-card > .faq-card-front {
  z-index: 10;
}

.faq-card > .faq-card-back {
  transform: rotateY(-180deg);
  background: var(--c-accent);
}

.faq-back .faq-card-content {
  margin-top: auto;
}
