.form__input {
  width: calc(100% - 2rem);
}

.form__label {
  color: #00467f;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  line-height: 1.25;
  text-transform: uppercase;
  display: block;
  margin: 0 0 0.25rem;
}

.form__input,
.form__select {
  height: 45px;
  height: 2.8125rem;
}

.form__input,
.form__multi__select,
.form__select {
  max-width: 100%;
  padding: 0 1rem;
  border: 0.0625rem solid #00467f;
  border-radius: 0;
  background-color: #fff;
  color: #00467f;
}

.form__select {
  padding-right: 3.5rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 29 29' fill='%2300467f'%3E%3Cpath d='M14.7 22.5L0 8.3l1.4-1.4 13.2 12.9 13-13.3L29 7.9z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) 50%;
  background-size: 1.5rem 1.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.form__select::-ms-expand {
  display: none;
}

.form__row {
  margin: 2rem 0;
}

.form__checkbox,
.form__radio {
  display: inline-block;
  margin-right: 2rem;
}

.form__checkbox input,
.form__radio input {
  margin-right: 0.5rem;
  vertical-align: middle;
}



.grid-container {
  width: 100%;
  max-width: 1440px;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.grid-container-narrow {
  max-width: 64em;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 6rem -2rem;
}

.grid > * {
  width: calc(100% - 2rem);
  margin: 2rem 0 0 2rem;
}

@media (min-width: 48em) {
  .grid > * {
    width: calc(50% - 2rem);
  }
}

@media (min-width: 64em) {
  .grid > * {
    width: calc(33.333% - 2rem);
  }
}

@media (min-width: 64em) {
  .grid--2 > * {
    width: calc(50% - 2rem);
  }
}

.grid--flush {
  margin-bottom: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--s3);
}

formfield {
  display: flex;
  flex-direction: column;
  gap: var(--s2);
}

label {
  color: white;
}
