.hero__wrapper {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(1, 1fr);
}

.hero__headline {
  font-size: var(--f7);
  margin-bottom: 24px;
  font-family: var(--tf3);
}

.hero__subheadline {
  font-size: var(--f4);
  margin-bottom: 48px;
}

.hero__cta-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}

.hero__button {
  display: inline-block;
  padding: 16px 32px;
  border: solid 1px var(--c-primary);
  border-radius: 100vw;
  cursor: pointer;
  background: var(--c-primary);
  color: var(--c-neutral-0);
  transition: ease all 0.3s;
  border: solid 2px var(--c-primary);
  font-weight: 500;
}

.hero__button:hover {
  background: var(--c-neutral);
  color: var(--c-primary);
}

.hero__button--secondary {
  display: inline-block;
  padding: 0 0 4px;
  cursor: pointer;
  transition: ease all 0.3s;
  font-weight: 500;
}

.hero__button--secondary:hover {
  border-bottom: solid 3px var(--c-primary);
}

.hero-left,
.hero-right {
  flex: 0 1 100%;
}

.hero-right {
  order: 2;
}

.hero-right img {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .hero-right {
    order: 1;
  }
  .hero-left,
  .hero-right {
    flex: 0 1 50%;
  }
  .hero__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .hero__headline {
    font-size: 96px;
  }
  .hero__subheadline {
    font-size: var(--f5);
  }
}

.top-left-img {
  position: absolute;
  top: 0;
  left: 0;
}

.centered-img {
  display: block;
  margin: 0 auto;
  width: calc(100% - 128px);
}

.bottom-right-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bubble {
  border: solid 10px white;
  border-radius: 100vw;
}
