.hero {
  height: 50vh;
  position: relative;
  overflow: hidden;
}

.hero__background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: var(--c-neutral-3);
}

.hero__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__background:before {
  content: "";
  position: absolute;
  top; 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
}

.hero__background:after {
  content: "";
  position: absolute;
  top; 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, transparent, rgba(0,0,0,0.5));
}

.hero__wrapper {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(1, 1fr);
}

.hero__content {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.hero__content__wrapper {
  height: 100%;
    width: 100%;
  padding: 32px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 32px;
}

.arrows {
  color: white;
  align-self: flex-end;
  display: flex;
  gap: var(--s3);
  align-items: center;

}

.slider-prev, .slider-next {
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.arrows svg {
  height: 32px;
  width: 32px;
}

@media screen and (min-width: 1366px){
  .hero__content__wrapper {
  padding: 64px 96px;
}
}

.hero__headline {
  font-size: var(--f4);
  margin-bottom: var(--s3);
  color: white;
}

@media screen and (min-width: 1366px){
  .hero__headline {
    font-size: var(--f7);
  }
}

.hero__subheadline {
  font-size: var(--f4);
  margin-bottom: 48px;
}

.hero__cta-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}

.hero__button {
  display: inline-block;
  padding: 16px 32px;
  border: solid 1px var(--c-primary);
  border-radius: 100vw;
  cursor: pointer;
  background: var(--c-primary);
  color: var(--c-neutral-0);
  transition: ease all 0.3s;
  border: solid 2px var(--c-primary);
  font-weight: 500;
}

.hero__button:hover {
  background: var(--c-neutral);
  color: var(--c-primary);
}

.hero__button--secondary {
  display: inline-block;
  padding: 0 0 4px;
  cursor: pointer;
  transition: ease all 0.3s;
  font-weight: 500;
}

.hero__button--secondary:hover {
  border-bottom: solid 3px var(--c-primary);
}

.hero--home {
  height: 80vh;
}

.hero-left,
.hero-right {
  flex: 0 1 100%;
}

.hero-right {
  order: 2;
}

.hero-right img {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .hero-right {
    order: 1;
  }
  .hero-left,
  .hero-right {
    flex: 0 1 50%;
  }
  .hero__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .hero__subheadline {
    font-size: var(--f5);
  }
}

.top-left-img {
  position: absolute;
  top: 0;
  left: 0;
}

.centered-img {
  display: block;
  margin: 0 auto;
  width: calc(100% - 128px);
}

.bottom-right-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bubble {
  border: solid 10px white;
  border-radius: 100vw;
}

.hero-slide {
  width: 100%;
  position: absolute;
}

.hero__background-media {
  transition: ease all 0.3s;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.hero__background-media.is-active {
  opacity: 1;
  visibility: visible;
}



