.alert{
	background:var(--c-accent);
	padding: var(--s3) 0;
	position: relative;
}

.alert__content {
	font-size: var(--f2);
	text-align:center;
	line-height: var(--lh-paragraph);
}

.alert__link {
	border-bottom: solid 1px;
	font-size: var(--f2);
}

.alert__close {
	position: absolute;
	top: 50%;
	right: 32px;
	transform: translateY(-50%);
}


.alert__close svg {
	width: 24px;
	height: 24px;
}