.alert {
  background: var(--c-accent);
  padding: var(--s2) 0;
  position: relative;
  margin-bottom: 0;
  border-radius: 0;
}

.alert__content {
  font-size: var(--f2);
  text-align: center;
  line-height: 48px;
  color: var(--c-primary);
}

.alert__link {
  border-bottom: solid 1px;
  font-size: var(--f2);
}

.alert__close {
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert__close svg {
  width: 18px;
  height: 18px;
}
