#accordion {
  margin-bottom: 48px;
}

.accordion-item {
  transition: ease all 0.3s;
}

.accordion-title {
  font-size: 32px;
  transition: ease all 0.3s;
}

.accordion-item:hover .accordion-title {
  transform: translateX(16px);
}

.accordion-header {
  align-items: center;
}

.accordion-divider {
  width: 100%;
  height: 0px;
  border-bottom: solid 2px;
}

.accordion-content {
  height: 0px;
  padding: 0;
  font-size: 20px;
  opacity: 0;
  z-index: -1;
  position: relative;
  transition: ease all 0.3s;
}

.accordion-item.active .accordion-content {
  padding: 24px 0;
  height: auto;
  opacity: 1;
}

.accordion-item svg {
  fill: var(--c-primary);
  transition: ease all 0.3s;
}

.accordion-item svg.expanded {
  transform: rotate(45deg);
}