@font-face {
  font-family: "destroyregular";
  src:
    url("/src/assets/fonts/destroy-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/destroy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --c-primary: black;
  --c-secondary: white --c-tertiary: #fafafa;

  --c-primary-0: ;
  --c-primary-1: ;
  --c-primary-2: ;
  --c-primary-3: ;
  --c-primary-4: ;
  --c-primary-5: ;
  --c-primary-6: ;
  --c-primary-7: ;
  --c-primary-8: ;
  --c-primary-9: ;
  --c-primary-10: ;

  --c-secondary-0: ;
  --c-secondary-1: ;
  --c-secondary-2: ;
  --c-secondary-3: ;
  --c-secondary-4: ;
  --c-secondary-5: ;
  --c-secondary-6: ;
  --c-secondary-7: ;
  --c-secondary-8: ;
  --c-secondary-9: ;
  --c-secondary-10: ;

  --c-tertiary-0: ;
  --c-tertiary-1: ;
  --c-tertiary-2: ;
  --c-tertiary-3: ;
  --c-tertiary-4: ;
  --c-tertiary-5: ;
  --c-tertiary-6: ;
  --c-tertiary-7: ;
  --c-tertiary-8: ;
  --c-tertiary-9: ;
  --c-tertiary-10: ;

  --c-neutral-0: #ffffff;
  --c-neutral-0.5: #fefefe;
  --c-neutral-1: #fefefe;
  --c-neutral-1.5: #fdfdfd;
  --c-neutral-2: #fcfcfc;
  --c-neutral-3: #fafafa;
  --c-neutral-4: #f6f6f6;
  --c-neutral-5: #e5e5e5;
  --c-neutral-6: #e4e4e4;
  --c-neutral-7: #cdcdcd;
  --c-neutral-8: #999999;
  --c-neutral-9: #464646;
  --c-neutral-10: #000000;

  --tf1: Roboto, Arial, Sans-serif;
  --tf2: Georgia, Times New Roman, Serif;
  --tf3: destroyregular, sans-serif;

  --f1: 12px;
  --f2: 16px;
  --f3: 20px;
  --f4: 25px;
  --f5: 32px;
  --f6: 48px;
  --f7: 65px;
  --f8: 96px;

  --lh-paragraph: 1.33;

  --s1: 4px;
  --s2: 8px;
  --s3: 16px;
  --s4: 24px;
  --s5: 32px;
  --s6: 64px;
  --s7: 96px;
  --s8: 128px;
  --s9: 256px;

  --br-0: 0;
  --br-1: 0.5rem;
  --br-2: 1rem;
  --br-3: 2rem;
  --br-100: 100vw;
  --br: var(--br-3);

  --lvl-1: 0 4px 8px rgba(0, 0, 0, 0.15);
}
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--tf1);
  color: black;
  -webkit-font-smoothing: antialiased;
}

body * {
  box-sizing: border-box;
  font-size: var(--f2);
}

@media screen and (min-width: 1366px) {
  body * {
    font-size: var(--f3);
  }
}

h1,
h2,
h3,
h4,
h5,
p,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.section {
  padding: 48px 0;
  border-bottom: solid 1px #e0e0e0;
}

.section.section--short {
  padding: 48px 0;
}

.section.section--medium {
  padding: 64px 0;
}

@media (min-width: 720px) {
  .section {
    padding: 96px 0;
  }
}

.section__headline {
  font-family: var(--tf3);
  font-size: var(--fs6);
  margin-bottom: 48px;
  text-align: center;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 32px;
}

.container.container--wide {
  max-width: 1366px;
}

@media screen and (min-width: 720px) {
}

@media screen and (min-width: 1024px) {
}

h1 {
  font-size: var(--f6);
}

h2 {
  font-size: var(--f5);
}
h3 {
  font-size: var(--f4);
}

p {
  font-size: var(--f3);
}

article p {
  margin-bottom: 1.5rem;
}

article h2 {
  margin-top: 0;
}

.link-cards__headline {
  margin-bottom: 3rem;
}

.table-container {
  overflow-x: auto;
}
.table-container table {
  width: 100%;
  border-collapse: collapse;
}
.table-container th,
.table-container td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .table-container table {
    display: block;
  }
  .table-container thead {
    display: none;
  }
  .table-container tr {
    margin-bottom: 12px;
    display: block;
  }
  .table-container td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 50%;
    margin-right: 4%;
    text-align: right;
  }
}

.accordion {
  background-color: transparent;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  margin-bottom: 0;
}

.accordion:first-child {
  border-top: solid 1px rgba(0, 0, 0, 0.15);
}
.accordion.active {
  background-color: black;
  color: white;
}
.accordion .grow-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.accordion.active .grow-icon {
  transform: translateY(-50%) rotate(180deg);
}
.panel {
  padding: 24px 16px;
  display: none;
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.last-accordion {
  border-bottom: none;
}
@media screen and (max-width: 600px) {
  .accordion {
    font-size: 14px;
  }
}
