.link-cards {
	display: flex;
	gap: 32px;
	flex-direction: column;

}

@media screen and (min-width: 1366px){
	.link-cards {
		flex-direction: row;
		flex-wrap: wrap;
		
	}
	.link-card {
		flex: 0 0 calc(33.333% - 32px);
	}
}

.link-cards__wrapper {
	padding: 32px;
}

@media screen and (min-width: 1366px){
	.link-cards__wrapper {
	padding: 96px;
}
}

.link-cards__header {
	display: flex;
	justify-content: space-between;
	
	margin-bottom: 48px;
	flex-direction: column;
}

@media screen and (min-width: 1366px){
	.link-cards__header {
		flex-direction: row;
		align-items: flex-end;
	}
	
}

.link-cards__title {
	font-size: var(--f5);
}


.link-card {
	width: 100%;
}

.link-card-inner {
	display: flex;
	flex-direction: column;
	border: solid 1px var(--c-neutral-5);
}


.link-card__media {
	background: var(--c-neutral-5);
	border: solid thin var(--c-neutral-5);
	aspect-ratio: 1 / 1;
}

.link-card__content {
	padding: 24px;
}

.link-card__title {
	font-size: var(--f4);
	margin-bottom: var(--s3);
}

.link-card__supporting-text {
	margin-bottom: var(--s4);
}

