.page-intro {
  border-bottom: solid 1px var(--c-neutral-5);
  background: var(--c-secondary);
}

.page-intro__wrapper {
  padding: 32px;
}

@media screen and (min-width: 1366px) {
  .page-intro__wrapper {
    padding: 96px;
  }
}

.page-intro__headline {
  font-size: var(--f5);
  margin-bottom: 24px;
}

@media screen and (min-width: 1366px) {
  .page-intro__headline {
    font-size: var(--f6);
    margin-bottom: 24px;
  }
}

.page-intro__supporting-text {
  font-size: var(--f3);
  margin-bottom: 24px;
}

@media screen and (min-width: 1366px) {
  .page-intro__supporting-text {
    font-size: var(--f4);
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1366px) {
  .page-intro__supporting-text {
    margin-bottom: 48px;
  }
}

.page-intro__supporting-text {
}

.page-intro__button-group {
  display: flex;
  gap: var(--s4);
  align-items: center;
}
